<!-- Header -->
<app-header></app-header>



<section class="lastick-widget-main">
  <div class="lastick-widget-main_inner">
    <div class="event-tickets event-descr sm">
      <header class="event-tickets-header">
        <h1 class="title">Пласидо Доминго на фестивале Звезды Белых Ночей</h1>
        <p class="description">Трехчасовой концерт музыки с повторяющейся структурой в исполнении музыкантов Московской консерватории</p>
        <div class="details">
          <span class="age">6+</span>
          <span class="type">Классическая музыка</span>
          <span class="duration">1 час 45 минут</span>
        </div>
      </header>
      <section class="event-tickets-section">
        <nav>
          <ul class="menu">
            <li class=""><a routerLink="/events/{{event_uuid}}/schedules" >Расписание и билеты</a></li>
            <li class="active"><a>Описание</a></li>
          </ul>
        </nav>
        <article class="page1">
          <div class="timetable">
            <div class="timetable-item">
              <div class="left fl">
                <span class="time">24 мая, вторник в 17:00</span>
                <span class="place">Мариинский-2</span>
              </div>
              <div class="right fl">
                <span class="price">от 800 р</span>
                <a href="#" class="button" title="">Выбрать места</a>
              </div>
            </div>
            <div class="timetable-item last">
              <div class="left fl">
                <span class="time">24 мая, вторник в 17:00</span>
                <span class="place">Мариинский-2</span>
              </div>
              <div class="right fl">
                <span class="price">от 800 р</span>
                <a href="#" class="button" title="">Выбрать места</a>
              </div>
            </div>
          </div>
        </article>
        <article class="page2 active">
          <div class="pretext">
            <p class="white text-b1">
              Автор оперы «Эйнштейн на пляже» (пост. в 1976 году Робертом Уилсоном), а также музыки к большому числу кинофильмов, среди которых такие как «Кундун», «Шоу Трумана», «Часы», «Кэндимен», «Иллюзионист» и др.
            </p>
            <p class="coal">
              Гласс называет себя создателем «музыки с повторяющейся структурой». Считается, что наиболее зрелые из его ранних работ имели много общего с минимализмом, но музыкальный стиль Гласса существенно эволюционировал.
              Сегодня он считает себя композитором-классицистом, отмечая, что хорошо владеет гармонией и контрапунктом, изучив творчество таких композиторов как Франц Шуберт, Иоганн Себастьян Бах и Вольфганг Амадей Моцарт.
            </p>
          </div>
          <div class="text">
            <table class="condenced desktop">
              <tr>
                <th width="23%;">Музыканты</th><td width="77%;">Игорь Бутман (саксофон), Фабрис Ульри (фортепиано), Арсений Чубачин (виолончель), «ARS chamber orchestra»</td>
              </tr>
              <tr>
                <th>В программе</th><td>«Красавица и Чудовище», «Падение дома Ашеров», «Можжевеловое дерево», «Идеальный американец»</td>
              </tr>
            </table>
            <table class="condenced mobile">
              <tr>
                <th>Музыканты</th>
              </tr>
              <tr>
                <td>Игорь Бутман (саксофон), Фабрис Ульри (фортепиано), Арсений Чубачин (виолончель), «ARS chamber orchestra»</td>
              </tr>
              <tr>
                <th>В программе</th>
              </tr>
              <tr>
                <td>«Красавица и Чудовище», «Падение дома Ашеров», «Можжевеловое дерево», «Идеальный американец»</td>
              </tr>
            </table>
          </div>
        </article>
      </section>
    </div>
  </div>
</section>


<!-- Footer -->
<app-footer></app-footer>
